@font-face {
  font-family: 'RedHatMono-Reg';
  src: url('../fonts/RedHatMono-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'RedHatMono-Ita';
  src: url('../fonts/RedHatMono-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'RedHatMono-Bol';
  src: url('../fonts/RedHatMono-Bold.ttf') format('truetype');
  font-style: bold;
  font-weight: 700;
}