@import 'fonts.css';

:root {
  --primary-font: "RedHatMono-Reg", monospace;
  --secondary-font: serif;
  --text-color: #000;
  --text-color-secondary: #FFF;
  --text-color-hover: #62ff29;
  --accent-color: #DCFF66;
  --accent-color-secondary: #;
  --background-color: #FFF;
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: calc(0.3em + .5vw);
  letter-spacing: -0.01em;
}

::selection {
  background: var(--text-color);
  color: var(--text-color-secondary);
}

::-moz-selection {
  background: var(--text-color);
  color: var(--text-color-secondary);
}

html, body {
  margin: 0;
  padding: 0
    /* cursor: url(/images/cursor_black.png), default; */
}

body {
  height: 100vh;
}

pre {
  font-family: var(--primary-font);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

nav {
  display: flex;
  flex-direction: row;
}

/* TOP TITLE + NAV BAR */
header {
  padding: calc(1em + 0.5vw);
}

header nav {
  justify-content: space-between;
  align-items: center;
}

header nav a:first-child {
  flex-grow: 0.5;
}

#supmart:hover {
  background-color: var(--text-color-secondary);
}

header a pre:hover, .activemain {
  background-color: var(--text-color-hover);
  border-radius: 10em;
}

.activemain, .activelink {
  cursor: default;
}

/* PRODUCT INDEX */
main nav {
  align-items: center;
  margin: 2em 1em;
}

main nav a {
  padding: 0.625em;
}

main nav a:hover, footer a:hover {
  text-decoration: underline;
}

.activelink {
  text-decoration: underline;
  color: var(--text-color-hover);
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}